.uploadButton:hover {
  cursor: pointer;
}

.browseButton:hover {
  cursor: pointer;
}

.uploadButton, .browseButton {
  font-size: 13px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.icon:hover {
  cursor: pointer;
}

.input {
  width: 70%;
}

.card:hover {
  cursor: default;
}